@media screen and (min-width: 320px){ html,body{font-size: 10px;} }
@media screen and (min-width: 360px){ html,body{font-size: 11px;} }
@media screen and (min-width: 375px){ html,body{font-size: 12px;} }
@media screen and (min-width: 412px){ html,body{font-size: 13px;} }
@media screen and (min-width: 640px){ html,body{font-size: 20px;} }
@media screen and (min-width: 768px){ html,body{font-size: 24px;} }
@media screen and (min-width: 960px){ html,body{font-size: 30px;} }
@media screen and (min-width: 1024px){ html,body{font-size: 32px;} }
*{margin:0;padding:0;box-sizing:border-box;-webkit-touch-callout:none;-webkit-text-size-adjust:100% !important;}
html,body,div,ul,ol,li,dl,dt,dd,form,input,textarea,table,h1,h2,h3,h4,p,span,a,em,i,img{font-style:normal;}
html,body{height:100%;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family: "Roboto", "Open Sans", "PingFang", "PingFang SC", "PingFang HK", "PingFang TC", "Microsoft YaHei", "Microsoft JhengHei", "Helvetica Neue",'\5FAE\8F6F\96C5\9ED1',Arial,'\9ED1\4F53','\5B8B\4F53', sans-serif;}
iframe,a,img{border:none;}
img{display:block;}
video{object-fit:fill}
a,a:hover,a:visited,a:active{text-decoration:none;color:inherit;/*-webkit-tap-highlight-color:rgba(0, 0, 0, 0);*/}
ol,ul{list-style-type:none;}
ul li, ol li{box-sizing: border-box;list-style:none;}
h1,h2,h3{font-weight:normal;}
table{border-collapse:collapse;}
input{font-family:'\5FAE\8F6F\96C5\9ED1','\9ED1\4F53','\5B8B\4F53';-webkit-appearance: none;}
input,button,select,textarea{font:inherit;outline:none;border:0;border-radius: 0;-webkit-tap-highlight-color: transparent;appearance: none;-webkit-appearance: none;background: transparent;line-height: normal;-webkit-writing-mode: horizontal-tb;resize: none;color: inherit;white-space: pre-wrap;word-wrap: break-word;-webkit-rtl-ordering: logical;user-select: text;/*flex-direction: column;*/}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none !important;margin:0;}
.twinkle{-webkit-tap-highlight-color:transparent;}  /*ios下点击闪现灰色半透明背景*/
/**************************************************/
.flex{display: -webkit-box;}
.flexv{display: -webkit-box; -webkit-box-orient: vertical;}
.flexitem{display: -webkit-box; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}
.flexitemv{display: -webkit-box; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; -webkit-box-orient: vertical;}
.centerv{-webkit-box-align: center;}
.centerh{-webkit-box-pack: center;}
.center{-webkit-box-align: center; -webkit-box-pack: center;}
.endh{-webkit-box-pack: end;}
.endv{-webkit-box-align: end;}
.endhc{-webkit-box-align: end; -webkit-box-pack: center;}  /*水平结构居中底部,垂直结构居中靠右*/
.endvc{-webkit-box-align: baseline;-webkit-box-pack: end;} /*水平结构右上角,垂直结构居中底部*/
.end{-webkit-box-align: end; -webkit-box-pack: end;}
.between{display:flex;justify-content:space-between;align-items:center;} /*两端对齐*/
.around{display:flex;justify-content:space-around;align-items:center;}   /*等间距*/
.br{display: flex;flex-wrap:wrap;}  /*换行*/
.wrap{height:100%;}
.fitimg,.hsy{width:100%;height:100%;}
.radimg{width:100%;height:100%;border-radius:50%;}
.mainbox{position:relative;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;}
.mainbox::-webkit-scrollbar{display: none;} /*清除滚动条*/
select,textarea::-webkit-scrollbar{display: none;} /*清除滚动条*/
/************** 动画 ************/
@-webkit-keyframes zoomIn {0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}
@keyframes zoomIn { 0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3); transform:scale3d(.3,.3,.3)} 50%{opacity:1}}
@-webkit-keyframes fadeInRight {0%{opacity:0;-webkit-transform:translate3d(2000px, 0, 0);transform:translate3d(2000px, 0, 0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@keyframes fadeInRight {0%{opacity:0;-webkit-transform:translate3d(2000px, 0, 0);transform:translate3d(2000px, 0, 0);}100%{opacity:1;-webkit-transform:none;transform:none;}}
@-webkit-keyframes zhuan {0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}
@keyframes zhuan {0%{-webkit-transform:rotate(0)}100%{-webkit-transform:rotate(360deg)}}
/*********************************************************************/
.alert{position: fixed;top:0;left:0;width:100%;bottom:0;overflow:hidden;z-index:20;background:rgba(0,0,0,.5);display:none}
.alert .close{width:10vw;height:10vw;border:2px solid #fff;border-radius:50%;overflow:hidden;position: absolute;bottom:-18vw;left:50%;transform:translateX(-50%);}
.alert .close:after{content:'';width:10vw;height:2px;background:#fff;position:absolute;top:4.5vw;left:0;transform:rotate(45deg);}
.alert .close:before{content:'';width:10vw;height:2px;background:#fff;position:absolute;top:3.5vw;left:0;transform:rotate(-45deg);}
.alert.show{display:block;}
.alert.hide{display:none;}
.alert .content.trans{animation: zoomIn 0.3s ease;}
/****************************** 首页 ************************************/
/*#home .bj{height:118.6vw;background:url("../image/index-bj-up.jpg") no-repeat;background-size:cover;}*/
#home{background:url("../image/index-bj.jpg") no-repeat;background-size:cover;}
#home .banger{position:absolute;top:11vw;right:6vw;width:8vw;height:8vw;background:rgba(0,0,0,.3);border-radius:50%;overflow:hidden;}
#home .banger.spin{animation:zhuan 2s linear infinite;-webkit-animation:zhuan 2s linear infinite;}
#home .banger img{border-radius:50%;overflow:hidden;}
#home .flipbox{width:94%;height:25px;background:rgba(0,0,0,.5);position:relative;border-radius:20px;margin: 4px auto;overflow:hidden;}
#home .flipbox .bor{position:absolute;bottom:0px;left:0;overflow:hidden;color:#fff;}
#home .flipbox .user-img{width:25px;height:25px;border-radius:50%;overflow:hidden;margin-right:4px;}
#home .flipbox .text{font-size:14px;overflow:hidden;-webkit-line-clamp:1;}
#home .flipbox .text .name{font-weight:bold;color:#d8151b;max-width: 5.6rem;-webkit-line-clamp: 1;overflow: hidden;}
#home .textbox .tex1{width:62vw;height:14vw;}
#home .textbox .tex2{height:12vw;}
#home .user-box{position:relative;overflow:hidden;margin-top:10rem;}
#home .user-box .user-bj{width:10rem;height:10rem;background:url("../image/user.png")no-repeat;background-size:100% 100%;/*animation:zhuan 6s linear infinite;-webkit-animation:zhuan 6s linear infinite;*/}
#home .user-box .user-img{position:absolute;top:1rem;left:1rem;width:8rem;height:8rem;border-radius:50%;overflow:hidden;}
#home .userbox .firm-info{font-size:5vw;color:#f8e79b;}
#home .userbox .firm-info .name{color:#fff;}
#home .btnbox{width:80%;height:10vw;margin:5vw 0;}
#home .btnbox a.btn .ment{width: 2rem;height: 2.4rem;}
#home .btnbox a.btn .zc-img{width:10vw;}
#home .btnbox a.btn{width: 10rem;height: 3.4rem;overflow:hidden;background:#1fd8ed;box-shadow: .4rem .4rem 0 0 #e037dc;padding:1.5vw;font-size:5vw;color:#fff;}
#home .listbox{padding:0 6vw;max-height:94vw;}
#home .listbox .list{border-top:1px solid #fff;padding:3vw 0;}
#home .listbox .list:last-child{border-bottom:1px solid #fff;}
#home .listbox .list .user-img{width:12vw;height:12vw;border-radius:50%;overflow:hidden;}
#home .listbox .list .user-img img{border-radius:50%;overflow:hidden;}
#home .listbox .list .text{margin-left:4vw;font-size:4.5vw;color:#fff;}
#home .listbox .list .text .info span{margin-right:2vw;}
#home .listbox .list .text .info .name{max-width:10rem;-webkit-line-clamp: 1;overflow: hidden;color:#1fd8ed;}
#home .listbox .list .text h3{font-weight: normal;height:6vw;font-size:4.5vw;overflow:hidden;-webkit-line-clamp:1;}
#home .listbox .list .zan{width:6vw;height:6vw;}
/*#home .footer-img{font-size:0;}*/
/***** 创建弹窗 *****/
#home .alert .found{width:90%;position: absolute;top:40%;left:5%;}
#home .alert .found .found-bj{height:30vw;position:absolute;top:-44%;left:0;}
#home .alert .found .textbox{width:60%;background:#fff;border-radius:2vw;padding-bottom:2vw;}
#home .alert .found .textbox .qrcode{width:60%;height:60%;padding-top:6vw;}
#home .alert .found .textbox p{font-size:4vw;}
/***** 支持弹窗 *****/
#home .alert .sustain{width:90%;height:70vw;background:url("../image/sustain.png")no-repeat;background-size:100% 100%;position: absolute;top:20%;left:5%;}
#home .alert .sustain .sustain-tex{width:59.6vw;height:30vw;background:#fff;border-bottom-left-radius:2vw;border-bottom-right-radius:2vw;position:absolute;top:70%;left:50%;transform:translateX(-50%);}
#home .alert .sustain .sustain-tex p{margin-bottom:4.5vw;font-size:4.5vw;}
#home .alert a.btn{width:26vw;height:9vw;border-radius:5vw;overflow:hidden;background:-webkit-linear-gradient(#ed3f33, #d9141b);box-shadow: 0 1vw 5vw -1vw #333;padding:1.5vw;}
/*****已支持弹窗 ****/
#home .alert .yzc{width:70%;padding:4vw;background:#fff;border-radius:2vw;position:absolute;top:40%;left:16.5%;}
#home .alert .yzc .mark{width:10vw;height:10vw;border:1px solid #333;border-radius:50%;font-size:6vw;}
#home .alert .yzc .tex{margin:4vw 0;}
#home .yzc-alert a.btn{background:#ed3f33;font-size:4vw;color:#fff;box-shadow:none;}
/************************* 我要参加 *************************/
#join .hidens{display:none;}
#join{background:url("../image/join-bj.jpg")no-repeat;background-size:cover;}
#join .head .tex1{width:62vw;height:14vw;}
#join .head .tex2{height:12vw;}
#join .textbox .tex-img{width:70vw;height:7vw;}
#join .textbox .tex{font-size:1.4rem;color:#fce79c;}
#join .textbox .tex span{color:#fff;}
#join .userbox{position:relative;overflow:hidden;margin:4vw 0;}
#join .userbox .user-bj{width:30vw;height:30vw;background:url("../image/user.png")no-repeat;background-size:100% 100%;}
#join .userbox .user-img{position:absolute;top:5vw;left:40vw;width:20vw;height:20vw;border-radius:50%;overflow:hidden;}
#join .userbox .user-img img{border-radius:50%;overflow:hidden;}
#join .userbox .name{padding:1vw 0;font-size:5vw;color:#fff;}
#join .menu .input{width:80%;font-size:4vw;background:#fff;border: 1px solid #eee;border-radius:2px;margin-bottom:4vw;}
#join .menu .input span{width:24vw;}
#join .menu .input input,#join .menu .input .select{height:10vw;}
#join .menu .submit,#join .music .submits{width: 20rem;height: 3.2rem;border-radius: .2rem;background: #3adffd;padding: .3rem 4rem;margin: 1.2rem auto;}
#join .music .box{width:90%;height:80vw;font-size:4vw;border: 1px solid #eee;border-radius:5px;overflow:hidden;margin:4vw auto;background:#fff;}
#join .music .box .title{height:12vw;border-bottom:1px solid #3adffd;padding:0 2vw;font-size:4vw;color:#3adffd;margin-bottom:.2rem;}
#join .music .list{height:12vw;padding:0 2vw;border-bottom:1px solid #ddd;}
#join .music .list .play,#join .music .list .click{width:8vw;height:8vw;}
#join .music .list .tex{margin-left:2vw;}
#join .footer{font-size:4vw;color:#fff;}
#join .footer a{color:#e1aa5a;}
/************ 活动规则弹窗 ************/
#join .alert .rule,#join .alert .hint{width:80%;padding:5vw;background:#fff;border-radius:2vw;position:absolute;top:30%;left:10%;}
#join .alert .rule .title{width:30vw;height:10vw;position:absolute;top:-4vw;left:50%;transform:translateX(-50%);border-radius:5vw;border:1px solid #fff;background:#fb2f2e;font-size:4vw;color:#fff;}
#join .alert .rule .texbox{font-size:4.2vw;}
#join .alert .rule .texbox p{padding:1vw 0;}
#join .alert .rule .texbox .tex-h{color:#d8151b;}
/************ 温馨提示弹窗 ************/
#join .alert .hint{background:rgba(255,0,0,0.6);color:#fff;}
#join .alert .hint .tex-h{margin:4vw 0;font-size:5vw;}
/******************** 公司品牌 ********************/
#brand{width:100%;height:100%;background:#fff;position:fixed;top:0;left:0;z-index:50;overflow-y:auto;}
.company_fixed_list{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#f1f1f1;z-index:7}
.top-bar{position:fixed;top:0;left:0;z-index:6;height:4.4rem;line-height:4.4rem;width:100%;background:#fff;font-size:1.8rem;text-align:center;font-weight:400}
.top-bar h3{font-size:1.7rem;color:#666}
.prev-btn{position:absolute;top:0;left:0;width:4.4rem;height:4.4rem}
.prev-btn:after,.prev-btn:before{content:'';display:block;position:absolute;top:1rem;border-width:1rem;border-style:solid;border-color:transparent}
.prev-btn:before{left:0;border-right-color:#ccc}
.prev-btn:after{left:.2rem;border-right-color:#fff}
.company_new_fixed{position:absolute;top:4.4rem;left:0;width:100%;height:100%;overflow:scroll;-webkit-overflow-scrolling:touch}
.company_new_area{overflow: scroll;margin-bottom: 3rem;}
.company_new_area .commend_list li:first-child{color:#fff;background-color:#F04E33}
.company_fixed_list .company_lists{overflow:hidden}
.company_fixed_list .company_lists li{font-size:1.2rem;float:left;width:30%;height:3rem;margin-left:2.4%;background-color:#fff;border-radius:1px;text-align:center;line-height:3rem;margin-top:.8rem;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;cursor:pointer}
.company_fixed_list .line_x{width:95%;margin:auto;height:1px;background-color:#dcdcdc;margin-top:1rem}
.company_fixed_list .title_line_x{width:95%;margin:auto;color:#666;font-size:1.2rem;border-bottom:1px solid #999;margin-top:1.6rem}
.company_fixed_list .writer_input{color:#666;font-size:1.3rem;text-decoration:underline;text-align:center;margin-bottom:9rem;margin-top:3rem}
/*自定义选项弹框*/
.dialog-wrap{position:fixed;top:0;right:0;bottom:0;left:0;z-index:991;}
.dialog-wrap .dialog-mask{height:100%;background:rgba(0,0,0,.4)}
.dialog-wrap .dialog-form{position:absolute;top:50%;left:50%;background:#fff;width: 80%;height: 17.7rem;margin-top: -8.5rem;margin-left: -40%;}
.dialog-wrap .dialog-hd{height:4.2rem;line-height:4.2rem;text-align:center;font-size:1.4rem;background:#f8b349;color:#fff}
.dialog-wrap input[name=company]{display:block;width:80%;height:3.6rem;margin:1.8rem auto 0;box-sizing:border-box;padding:1rem;font-size:1.2rem;color:#333;background:#e6e6e6;text-align:left}
.dialog-wrap .dialog-ft{padding:.7rem 0}
.dialog-wrap .phone-submit-btn{font-size:1.3rem;display:block;width:10.9rem;height:3.4rem;line-height:3.4rem;margin:1.6rem auto 0;color:#fff;text-align:center;border-radius:.5rem;background:#f05e5e}
.dialog-wrap .dialog-close-btn{position:absolute;top:0;right:0;display:block;width:2.3rem;height:2.3rem;margin-top:-1rem;margin-right:-1rem;border-radius:50%;background:#fff;}
.dialog-wrap .dialog-close-btn:before{content:'';width:1.4rem;height:1.6px;background:#f8b349;position:absolute;top:46%;left:22%;transform:rotate(45deg);}
.dialog-wrap .dialog-close-btn:after{content:'';width:1.4rem;height:1.6px;background:#f8b349;position:absolute;top:46%;left:22%;transform:rotate(-45deg);}
